
/* ~~~ VARIABLES ~~~ */
:root {
    --main-pink: rgb(255, 215, 231);
}  



.wrapper{
  text-align: center;
  /* margin: 5px 15px */
  border: 2px solid var(--main-pink);
  position: relative;
  overflow: hidden;
  /* display: inline-block; */
}

.wrapper>* {
    display: inline-block;
}

input[type=file] {
    cursor: pointer;
    font-size: 100px;
    height: inherit;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


/* .image_upload_wrapper{
    width: 500px;
} */

.image_upload_btn{
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    height: 50%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    
}
.submit_btn{
    cursor: pointer;
    background: #efefef;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}