.UploadBox
{
    display: block;
    width: 30%;
    margin-top: 50px;
    border: 3px #eee solid;
    padding: 15px;
}

.ListItem
{
    position: relative;
    display: block;
    margin-left: 1%;
    margin-top: 10px;
    float: left;
    width: 24%;
}

.ListItem>.ListName
{
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 15%;
    width: 100%;
    background: rgba(25, 25, 25, 0.5);
    color: white;
}
