.container {
    list-style: none;
    display: flex;
    width: 75vw;
    justify-content: space-around;
}

.left {
    background: rgb(221, 246, 255);
    width: 25%;
    

    font-weight: bold;
    padding-right: 1%;
    text-align: right;
    color: rgb(77, 77, 77);

    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.left>a {
    display: block;
}

.right {
    background: rgb(255, 224, 255);
    width: 75%;

    text-align: left;
    padding-left: 1%;
    color: rgb(77, 77, 77);
}