h1
{
    margin-top: 0;
}
h2
{
    margin-bottom: 0;
}
hr
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ms-Button--primary
{
    background-color: #9C1C6B !important;
}
.ms-Button--primary:hover
{
    background-color: #CA278C !important;   
}
.ms-TextField.is-active .ms-TextField-fieldGroup 
{
    border-color: #9C1C6B !important
}
.ms-Spinner-circle {
    border-color: #9C1C6B #CA278C #CA278C !important;
}
.ms-Spinner-label {
    color: #9C1C6B !important
}
.Application
{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
}
.Application>.Logo
{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;  
}
.Application>.Logo>.Image
{
    height: 100px;
    width: 100px;
}
.Application>.Logo>.Brand
{
    font-size: 2rem;
    color: #E47297;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'ShorelinesScriptBold', sans-serif;
}
.Application>nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    width: 35vw;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.Application>nav>a
{
    color: #999;
    padding: 10px;
    text-decoration: none;
}
.Application>nav>a.active, .Application>nav>a:hover
{
    color: #E47297;
    border-bottom: 3px solid #E47297;
}
.Application>.Container
{
    width: 35vw;
    padding: 30px;
    margin-top: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: white;
}
@media screen and (max-width: 1200px){
    .Application>.Container, .Application>nav
    {
        width: 45vw;
    }
}
@media screen and (max-width: 820px){
    .Application>.Container, .Application>nav
    {
        width: 60vw;
    }
}
@media screen and (max-width: 620px){
    .Application>.Container, .Application>nav
    {
        width: 80%;
    }
}
.Estimate>.Title {
    text-align: center;
}
.Estimate>.Container {
    display: flex;
}
.Estimate>.Container>img {
    max-height: 200px;
}
.Estimate>.Container>.Information {
    margin-left: 10px;
}
.Estimate>.Container>.Information>.Name {
    display: block;
    font-size: 1.5rem;
}
.Estimate>.Container>.Information>span {
    display: block;
    font-size: 1rem;
}