.Dropzone
{
    border: 2px dashed #E47297;
    border-radius: 5px;
}
.Dropzone>.Message
{
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Dropzone input[type=file]
{
    display: none;
}
.Dropzone .Preview img
{
    margin: 0 auto;
    max-width: 90%;
    display: block;
}